# Python virtual environment
.venv/

# Python temporary files
__pycache__/
*.py[cod]

# Environment variables and.env
.env.*
.env
!.env.example

# Runtime logs
*.log

# Operating system files
Thumbs.db
.DS_Store